trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'
  serviceName: 'reference'
  path: './$(reference)'


stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '21'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'

          - task: Gradle@2
            displayName: 'build service'
            inputs:
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              gradleWrapperFile: '$(System.DefaultWorkingDirectory)/gradlew'
              gradleOptions: '-Dorg.gradle.daemon=false'
              tasks: '--info build -x test'

          - publish: helm-deploy
            artifact: helm-deploy

