trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'
  serviceName: 'reference'
  path: './$(reference)'


stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: '21'
              jdkArchitectureOption: 'x64'
              jdkSourceOption: 'PreInstalled'

          - task: Cache@2
            displayName: configure gradle caching
            continueOnError: true
            inputs:
              key: 'gradle | "$(Agent.OS)" $(Pipeline.Workspace)/build.gradle'
              restoreKeys: |
                gradle | "$(Agent.OS)"
                gradle
              path: '$(Pipeline.Workspace)/.gradle'

          - task: Gradle@2
            displayName: 'build service'
            inputs:
              gradleWrapperFile: 'gradlew'
              workingDirectory: ''
              gradleOptions: '-Dorg.gradle.daemon=false'
              tasks: '--info build -x test'

          - publish: helm-deploy
            artifact: helm-deploy

