# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

variables:
  serviceName: 'customer-service'
  path: './$(serviceName)'

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: JavaToolInstaller@0
    displayName: 'user preinstalled jdk'
    inputs:
      versionSpec: '17'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'Preinstalled'

  - task: Cache@2
    displayName: configure gradle caching
    continueOnError: true
    inputs:
      key: 'gradle | "$(Agent.OS)" $(path)/build.gradle'
      restoreKeys: |
        gradle | "$(Agent.OS)"
        gradle
      path: '$(Pipeline.Workspace)/.gradle'

  - task: Gradle@2
    displayName: 'build service'
    inputs:
      gradleWrapperFile: '$(path)/gradlew'
      workingDirectory: '$(path)'
      options: '--no-daemon'
      tasks: '--infgo build -x test'


  - task: CmdLine@2
    inputs:
      script: 'tree'
      workingDirectory: '$(System.DefaultWorkingDirectory)'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/TEST-*.xml'
      mergeTestResults: true
  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: '$(System.SourcesDirectory)/CoverageResults/Coberture.xml'
      failIfCoverageEmpty: false
  - task: Maven@3
    displayName: Build Docker image
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'spring-boot:build-image'
      publishJUnitResults: false
      jdkVersionOption: '1.11'
  - task: Docker@2
    inputs:
      containerRegistry: 'Docker Hub'
      command: 'login'
  - task: Docker@2
    displayName: Docker push
    inputs:
      containerRegistry: 'Docker Hub'
      repository: '$(ImageName)'
      command: 'push'
      tags: 'latest'
